<div class = "about">
  <div class = "backgroundpic">
    <div class = "aboutcontainer">
      <div class = "aboutelement">
        <div class = "beautifulfonts">
          The ALL ACCESS PASS is the only way to party in Kuala Lumpur
        </div>
        <br>
        <div class = "beautifulwords">
        <p>With just one ticket you get free entry to up to over 25 of the best night clubs and bars in the heart of Kuala Lumpur, Malaysia!
          Start bar-hoping, Stop being a pussy! Drink till you fall, all night long!</p>

          <p>So you can find the venues you love, grab your friends and have a great night out without spending a fortune.</p>

          <p>Socialite lifestyle on a cheap basis!</p>

          <p>On average people save RM200-300 a night when using our all access pass – So don't wait to get the ultimate Drink-Your-Lungs-Out pass, and own the night! Passes are available 365 days a year, and each pass is valid for one night for one person.</p>

          <p>Don’t know where to go? Go on Google and figure it out, OR drop us an email and we would introduce you to some of our most beloved partners and night clubs around!</p>
        </div>
      </div>
    </div>
  </div>

  <hr class = "break"></hr>

  <section class = "contactmecontainer text-center">
    <div class = "contactme">
      <%= fa_icon "facebook-official 5x" %>
      <hr class = "break"></hr>
      <%= link_to "Facebook", "https://www.facebook.com" %>
    </div>

    <div class = "contactme">
      <%= fa_icon "instagram 5x" %>
      <hr class = "break"></hr>
      <%= link_to "Instagram", "https://www.instagram.com" %>
    </div>

    <div class = "contactme">
      <%= fa_icon "twitter 5x" %>
      <hr class = "break"></hr>
      <%= link_to "Twitter", "https://www.twitter.com"%>
    </div>
  </section>
</div>
