<h1>
    Checkout
</h1>

<ul>
    <% @items.each do |item| %>
    <li>
        Item Name:
        <%= link_to item.title, items_path %>
        <br>
        Item Price:
        <%= number_to_currency(item.price, :unit => 'RM') %>
        <br>
        Quantity:
        <%= item.quantity %>
    </li>
    <% end %>
    <br>
    <h1>
        Total Price :
        <%= number_to_currency(@total_price, :unit => 'RM') %>
    </h1>
</ul>

<br>

<div class="form">
  <%= form_for(:payment, url: checkout_path, html: { id: "payment-form" }) do |f| %>
    <div class="form-group">
    </div>

    <div class="form-group", id="dropin-container">
    </div>

    <div class="form-group">
      <h4>Amount : <%= number_to_currency(@total_price, :unit => 'RM') %></h4>
    </div>

    <div class="form-group">
      <%= f.submit "Pay", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>

<script>
  braintree.setup("<%=@token%>", 'dropin', {
    container: 'dropin-container',
    form: 'payment-form'
  });
</script>
