<div class="landing">

  <div class="background">
    <div class="title-container">
      <div class="title text-center">
        <p> Party Anywhere </p>
        <hr class="short-underline">
      </div>

      <div class="subtitle text-center">
        <p> Pay only once and enter multiple clubs in KL </p>
      </div>
    </div>
  </div>

  <div class="features-container">
    <div class="features text-center">
      <%= fa_icon 'money 5x' %>
      <p> Pay Once </p>
    </div>

    <div class="features text-center">
      <%= fa_icon 'map-marker 5x' %>
      <p> Multiple Clubs </p>
    </div>

    <div class="features text-center">
      <%= fa_icon 'mobile 5x' %>
      <p> Ticket in App </p>
    </div>
  </div>

  <div class="photo-container">
    <div class="photo text-center">
      <%= image_tag "zouk.jpg", class: "img-responsive img-setting" %>
      <p> Zouk </p>
    </div>

    <div class="photo text-center">
      <%= image_tag "beach.jpg", class: "img-responsive img-setting" %>
      <p> Beach Club KL </p>
    </div>

    <div class="photo text-center">
      <%= image_tag "lust.jpg", class: "img-responsive img-setting" %>
      <p> Lust </p>
    </div>

    <div class="photo text-center">
      <%= image_tag "nbt.jpg", class: "img-responsive img-setting" %>
      <p> No Black Tie </p>
    </div>

    <div class="photo text-center">
      <%= image_tag "providence.jpg", class: "img-responsive img-setting" %>
      <p> Providence </p>
    </div>

    <div class="photo text-center">
      <%= image_tag "vertigo.jpg", class: "img-responsive img-setting" %>
      <p> Vertigo </p>
    </div>
  </div>

  <div class="app-container">
    <h1> Download The App Now </h1>

      <div class="app text-center">
        <%= fa_icon 'apple 5x' %>
        <p> App Store </p>

      <div class="app text-center">
        <%= fa_icon 'android 5x' %>
        <p> Play Store </p>
      </div>
    </div>

  </div>


</div>
