<!DOCTYPE html>
<html>
  <head>
    <title>Pasarmalam</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= javascript_include_tag 'https://js.braintreegateway.com/js/braintree-2.28.0.min.js', 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->

  </head>

  <body>

    <div id="header">
      <%= render partial: 'partials/header' %>
    </div>
    <%= render partial: "partials/flash_messages" %>

    <%= yield %>

  </body>
  <div id="footer">
    <%= render partial: "partials/footer" %>
  </div>
</html>
